[submodule "brokers/third_party/libhimmelblau"]
	path = brokers/third_party/libhimmelblau
	url = https://gitlab.com/samba-team/libhimmelblau.git
[submodule "e2e-tests/.yarf"]
	path = e2e-tests/.yarf
	url = https://github.com/adombeck/yarf
