[submodule "authd-oidc-brokers/third_party/libhimmelblau"]
	path = authd-oidc-brokers/third_party/libhimmelblau
	url = https://gitlab.com/nooreldeensalah/libhimmelblau.git
	branch = fido-passkeys-mfa
[submodule "e2e-tests/.yarf"]
	path = e2e-tests/.yarf
	url = https://github.com/adombeck/yarf
