#!/usr/bin/make -f
#export DH_VERBOSE = 1

include /usr/share/dpkg/pkg-info.mk
include /usr/share/rustc/architecture.mk

# Needed for Rust vendored sources tracking
export CARGO_VENDOR_DIR := $(CURDIR)/vendor_rust

# Needed for Rust configure/build/test stages
export DEB_HOST_GNU_TYPE DEB_HOST_RUST_TYPE
export CARGO_HOME = $(CURDIR)/debian/cargo_home

# Prepend the following paths to PATH:
# * The cargo wrapper. This will either be the path to the wrapper installed by
#   dh-cargo, or the path to the wrapper installed by the cargo-$VERSION package.
export PATH := $(shell ./debian/get-depends-cargo-bin-path.sh):$(shell printenv PATH)

BUILDDIR := $(CURDIR)/obj-$(DEB_HOST_GNU_TYPE)

%:
	# --without=single-binary can be removed with dh 15.
	dh $@ --buildsystem=golang --with=golang,apport --without=single-binary

override_dh_auto_clean:
	dh_auto_clean --buildsystem=cargo

	# Vendor Rust dependencies when building the source package
	[ -d vendor_rust/ ] || debian/vendor-rust.sh

	# Cleanup empty cargo-checksum
	rm -f debian/cargo-checksum.json

override_dh_auto_configure:
	dh_auto_configure

	touch debian/cargo-checksum.json

	# Go manual if cargo-vendor-filterer is not around, otherwise dh-cargo will
	# ensure that what we've filtered won't be still listed in debian/control.
	# TODO: Drop this when we won't care about noble anymore.
	if ! command -v cargo-vendor-filterer 2>/dev/null; then \
		env DEB_CARGO_CRATE="$(DEB_SOURCE)_$(DEB_VERSION_UPSTREAM)" \
		  cargo prepare-debian "$(CARGO_VENDOR_DIR)"; \
	else \
	    echo "cargo version: $$(cargo --version)"; \
	    echo "cargo-vendor-filterer version: $$(cargo-vendor-filterer --version)"; \
		dh_auto_configure --buildsystem=cargo; \
	fi

override_dh_auto_build:
	# Build the NSS library
	@echo "PATH: $(PATH)"
	@echo "Building NSS library with $$(which cargo) ($$(cargo --version))"
	cargo build --release
