# Credentials for testing authd with the Google broker.
# Copy this file to e2e-tests-google.env and fill in your values.
# That file is gitignored.
#
# run-tests.sh and yarf-console.sh load this file automatically when
# --broker authd-google is specified.
# vm/provision-authd.sh also loads it when provisioning the VM for
# the Google broker.

BROKER=authd-google

# Test user credentials
E2E_USER=
E2E_PASSWORD=
TOTP_SECRET=

# Google OAuth2 app credentials
AUTHD_GOOGLE_CLIENT_ID=
AUTHD_GOOGLE_CLIENT_SECRET=
